#parking-spots {
    display: none;
    flex-wrap: wrap;
    background-color:#333;
}

.spot {
    border-right: 2px solid yellow;
    min-width: 200px;
    height: 200px;
    margin: 20px 0px; 
    /* flex: 1; */
}